<h1>New dish</h1>

<%= form_with(model: @dish, local: true) do |form| %>
  
  <!-- Fields for Dish -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <!-- Nested Fields for Ingredients -->
  <h3>Ingredients:</h3>
  <div id="ingredients">
    <%= form.fields_for :ingredients do |ingredient_form| %>
      <!-- Render a partial for ingredient fields -->
      <%= render 'ingredient_fields', f: ingredient_form %>
    <% end %>
  </div>

  <!-- Link to add more ingredient fields (handled by JavaScript) -->
  <%= link_to 'Add Ingredient', '#', id: 'add-ingredient' %>

  <!-- Submit Button -->
  <div class="actions">
    <%= form.submit %>
  </div>

  <script src="ingredient_fields.js"></script>
  <script src="#{asset_path('ingredient_fields')}"></script>

<% end %>