<!-- app/views/dishes/new.html.erb -->

<%= form_with(model: @dish) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for :ingredients do |ingredient_fields| %>
    <div>
      <%= ingredient_fields.label :name %>
      <%= ingredient_fields.text_field :name %>
    </div>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>